{block #content}

<h1 n:block="title">Přihlášení</h1>

{form signInForm}
<div class="sign-in-form">
    {control $form errors}

    <div class="pair">
        {label username /}
        <div class="input">{input username}</div>
    </div>
    <div class="pair">
        {label password /}
        <div class="input">{input password}</div>
    </div>
    <div class="pair">
        <div class="input">{input remember} {label remember /}</div>
    </div>

    <div class="pair">
        <div class="input">{input login}</div>
    </div>
</div>
{/form}
