{* This is the welcome page, you can delete it *}

{block content}

<div class="sidebar">
	{if $user->isLoggedIn()}
		<h2>Akce</h2>
		<a href="{link Article:}">Vytvořit nový článek</a>
	{/if}
	<h2>Archiv</h2>
	{*if !$articles}<p>Žádný článek</p>{else}
	<ul>
		{foreach $articles as $article}
			<li><a href="{link Homepage: $article->id}">{$article->title}</a></li>
		{/foreach}
	</ul>
	{/if*}
	<ul>
		{if}
		    <li n:foreach="$articles as $article"><a href="{link Homepage: $article->id}">{$article->title}</a></li>
		{else}
		    <li>Žádný článek</li>
		{/if $iterations}
	</ul>
</div>

<div class="article">
	{if $chosen}
		<h2>{$chosen->title}</h2>
		<p class="info">Autor: {$author->name}</p>
		<p class="info">Vytvořeno dne: {$chosen->created}</p>
		{if $chosen->edited}<p class="info">Poslední změna: {$chosen->edited}</p>{/if}
		{if $user->isLoggedIn() AND $user->id==$author->id}
			<p><a href="{link Article:edit $chosen->id}">Editovat článek</a></p>
		{/if}
		<p>
			{$chosen->text}
		</p>
	{else}
		<p>Pro tuto chvíli není žádný článek k dispozici.</p>
	{/if}
<div>

{/block}
