{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags|upper}Nette Application Skeleton{/block}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
	<div id="header">
		<h1><a href="{link Homepage:}">Jednoduchý blog</a></h1>
        <div class="user">
	        {if $user->isLoggedIn()}
		            <span class="icon user">{$user->getIdentity()->name}</span> |
		            <a n:href="signOut!">Odhlásit se</a>
	        {else}
	        	<a href="{link Sign:in}">Přihlásit se</a>
	        	<a href="{link Registration:}">Registrace</a>
	        {/if}
        </div>
	</div>
	<div id="container">
		<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

		
		
		{include #content}
	</div>
</body>
</html>
